openapi: 3.0.2
info:
  version: 1.0.0
  title: FDK Resource Service
  contact:
    name: Digitaliseringsdirektoratet
    url: 'https://fellesdatakatalog.digdir.no'
    email: fellesdatakatalog@digdir.no
  license:
    name: License of API
    url: 'http://data.norge.no/nlod/no/2.0'
servers:
  - url: 'https://resource.api.fellesdatakatalog.digdir.no'
    description: Production
  - url: 'https://resource.api.demo.fellesdatakatalog.digdir.no'
    description: Demo
  - url: 'https://resource.api.staging.fellesdatakatalog.digdir.no'
    description: Test
paths:
  /concepts:
    get:
      description: Returns all concepts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
    post:
      description: Returns concepts filtered on IDs from body
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Filters"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
  /concepts/{id}:
    get:
      description: Returns single concept
      parameters:
        - name: id
          in: path
          description: id of concept
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"

  /data-services:
    get:
      description: Returns all data services
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
    post:
      description: Returns data services filtered on IDs from body
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Filters"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
  /data-services/{id}:
    get:
      description: Returns single data service
      parameters:
        - name: id
          in: path
          description: id of data service
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
  /datasets:
    get:
      description: Returns all datasets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
    post:
      description: Returns datasets filtered on IDs from body
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Filters"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
  /datasets/{id}:
    get:
      description: Returns single dataset
      parameters:
        - name: id
          in: path
          description: id of dataset
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
  /events:
    get:
      description: Returns all events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
    post:
      description: Returns events filtered on IDs from body
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Filters"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
  /events/{id}:
    get:
      description: Returns single event
      parameters:
        - name: id
          in: path
          description: id of event
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
  /information-models:
    get:
      description: Returns all information models
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
    post:
      description: Returns information models filtered on IDs from body
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Filters"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
  /information-models/{id}:
    get:
      description: Returns single information model
      parameters:
        - name: id
          in: path
          description: id of information model
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
  /services:
    get:
      description: Returns all services
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
    post:
      description: Returns services filtered on IDs from body
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Filters"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
  /services/{id}:
    get:
      description: Returns single service
      parameters:
        - name: id
          in: path
          description: id of service
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"

components:
  schemas:

    Filters:
      type: object
      properties:
        ids:
          type: array
          description: Resource ids
          items:
            type: string

    Resource:
      type: object
      properties:
        id:
          type: string
          description: Resource id
      additionalProperties: true
