---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fdk-resource-service
  labels:
    app: fdk-resource-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fdk-resource-service
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: fdk-resource-service
      annotations:
        prometheus.io/scrape: "false"
    spec:
      serviceAccountName: error-reporting-sa
      containers:
        - name: fdk-resource-service
          env:
            - name: POSTGRES_HOST
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: HOST
            - name: POSTGRES_PORT
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: PORT
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: fdk-resource-service
                  key: POSTGRESQL_DB
            - name: POSTGRES_USERNAME
              valueFrom:
                secretKeyRef:
                  name: fdk-resource-service
                  key: POSTGRESQL_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: fdk-resource-service
                  key: POSTGRESQL_PASSWORD
            - name: KAFKA_BOOTSTRAP_SERVERS
              valueFrom:
                secretKeyRef:
                  name: kafka
                  key: BROKERS
            - name: SCHEMA_REGISTRY_URL
              valueFrom:
                secretKeyRef:
                  name: kafka
                  key: SCHEMA_REGISTRY            
          image: fdk-resource-service
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
